# MongoDB Connection String (Atlas)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.5vxcwot.mongodb.net/rovil?appName=Cluster0

# Admin Authentication
JWT_SECRET=your_secure_jwt_random_secret
ADMIN_PHONE=0721487948

# Cloudinary Credentials (Product Image Uploads)
CLOUDINARY_CLOUD_NAME=kow88t4l
CLOUDINARY_API_KEY=767519316291858
CLOUDINARY_API_SECRET=eCyYr9PWvXdOZ5LndGO3b1tjZno

# Google Gemini AI Key (for AI Assistant Chatbot)
GEMINI_API_KEY=your_gemini_api_key_here

